<!-- Header -->
<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light">
    <a href="" class="navbar-brand">
      <i class="fas fa-graduation-cap fa-3x" width="72" height="72"></i>
    </a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()" data-toggle="collapse" data-target="#myNavbar">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }" id="myNavbar">
      <ul class="navbar-nav mx-auto">
        <!-- Links, add Doc Space and Chat later -->
        <li class="nav-item mx-2 nav-active">
          <a routerLink="/signup" routerLinkActive="active" class="nav-link">Signup</a>
        </li>
        <li class="nav-item mx-2 nav-active">
          <a routerLink="/login" routerLinkActive="active" class="nav-link">Login</a>
        </li>
        <li class="nav-item mx-2 nav-active">
          <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">DashBoard</a>
        </li>
        <li class="nav-item mx-2 nav-active">
          <a routerLink="/modules" routerLinkActive="active" class="nav-link">Module Hub</a>
        </li>
        <li class="nav-item mx-2 nav-active">
          <a routerLink="/chatspace" routerLinkActive="active" class="nav-link">Chat Space</a>
        </li>
        <li class="nav-item mx-2 nav-active">
          <a routerLink="/doc-upload" routerLinkActive="active" class="nav-link">Doc Space</a>
        </li>
      </ul>
    </div>

    <button class="btn btn-danger" (click)="logoutClicked()">Logout</button>
  </nav>

</header>
