<body>

  <div class="wrapper">

    <div class="card text-center createChatBox">
      <h3 class="card-header">Create Chat</h3>
      <div class="card-block">
        <p class="card-text">Create revision group chats, to interact with other studently members</p>
        <button class="btn btn-danger" (click)="openCreateChatFrom();">Create Revision Group Chat</button>
      </div>
    </div>

    <div class="form addChatForm card container text-center float-left" *ngIf="createChatFormVisible">
      <form class="form-signin" #createChatForm="ngForm">
        <h5 class="h3 mb-3 font-weight-normal card-header">Add the Group</h5>
        <br>
        {{createChatDiagnostic}}
        <input type="chat_name" id="chat_name" name="chat_name" class="form-control" placeholder="Enter Chat Name" required autofocus
               [(ngModel)]="chatModel.chat_name">
        <br>
        <div id="buttonsContainer">
          <button class="btn" (click)="closeCreateChatForm(); createChatForm.reset();" id="closeAddChatFormButton">Close</button>
          <button class="btn btn btn-success btn-block" type="submit" id="submitChatFormButton" (click)="addChatGroup(); createChatForm.reset();">Add Revision Chat Group</button>
        </div>
        <br>
      </form>
    </div>

    <div class="card text-center">
      <h3 class="card-header">Available Revision Groups</h3>
    </div>

    <div class="card">
      <div class="card-block">
        <h6><b>Here are the groups your in...</b></h6>
        <div class="" *ngFor="let chat of chatGroups">
          <p>{{chat.chat_name}}</p>
        </div>
      </div>
    </div>

  </div>

</body>
