
body {
  margin: 0;
  height: 100vh;
  background: #AF7AC5;
  padding: 1em;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

.wrapper > div {
  padding: 1em;
}

#submitChatFormButton, #closeAddChatFormButton {
  width: auto;
  display: inline-block;
  margin-right: 0.5em;
}

.createChatBox {
  align-self: start;
}

.addChatForm {
  align-self: start;
  justify-self: start;
}

.listOfGroups > button {
  display: inline-block;
  margin-right: 0.7em;
}

.addChatForm {
  max-height: max-content;
}



