
* { box-sizing: border-box; }

html,
body {
  margin: 0;
  height: 100vh;
  background: #AF7AC5;
}

.grid {
  display: grid;
  grid-template-columns: 24% 1fr;
  padding: 1em;
}

.addChatForm {
  width: 55%;
}

.createChatBox {
  height: inherit;
}

#submitChatFormButton, #closeAddChatFormButton {
  width: auto;
  display: inline-block;
  margin-right: 0.5em;
}



