<body>

<div class="grid">

  <div class="left-pane">


  <div (click)="addUModule();" class="card container add-module float-center">
    <div class="card-body text-center">
    Add module <i class="fas fa-plus"></i>
    </div>
  </div>

  <div class="form moduleAdd container card text-center float-left" *ngIf="formVisible">
    <form class="form-signin" #addModuleForm="ngForm">
      <h5 class="h3 mb-3 font-weight-normal">Add the Module</h5>
      <button class="btn" (click)="closeModuleBox()">Close</button>
      <br>
      {{diagnostic}}
      <label for="module_name" class="sr-only">Module Name</label>
      <input type="module_name" id="module_name" name="module_name" class="form-control" placeholder="Module Name" required autofocus
           [(ngModel)]="model.module_name">
      <br>
      <label for="module_notes" class="sr-only">Module Notes</label>
      <input type="module_notes" id="module_notes" name="module_notes" class="form-control" placeholder="Module Notes" required
           [(ngModel)]="model.module_notes">
      <br>
      <button class="btn btn-lg btn-success btn-block" type="submit" id="btn-submit" (click)="loginStudent(); addModuleForm.reset()">Add module</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2018-2019</p>
    </form>
  </div>

  </div>
</div>

</body>

