@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Raleway:500');

* { box-sizing: border-box; }

html,
body {
  margin: 0;
  height: 100%;
  background: #AF7AC5;
}


.grid {
  display: grid;
  grid-template-columns: 24% 1fr;
  padding: 2em;
}

.left-pane {
  background: #f7f9f9;
  padding: 1em;
}


.add-module {
  width: 12rem;
  margin-bottom: 1rem;
}

.fa-plus {
  color: #42A948;
}

.moduleAdd {
  width: 18rem;
}

.fa-window-close {
  color: red;
}

.right-pane {
  padding: 1em;
}

.cards {
  padding-top: 1em;
}

.add-task-form {
  margin: 1em;
  background: #AF7AC5;
  border-color: #AF7AC5;
}
