<body>

<div class="grid">

  <div class="left-pane">


  <div (click)="addUModule();" class="card container add-module float-center">
    <div class="card-body text-center">
    Add module <i class="fas fa-plus"></i>
    </div>
  </div>

    <div (click)="addTaskForm();" class="card container add-module float-center">
      <div class="card-body text-center">
        Add Task <i class="fas fa-plus"></i>
      </div>
    </div>

  <div class="form moduleAdd container card text-center float-left" *ngIf="moduleFormVisible">
    <form class="form-signin" #addModuleForm="ngForm">
      <h5 class="h3 mb-3 font-weight-normal">Add the Module</h5>
      <button class="btn" (click)="closeModuleBox();">Close</button>
      <br>
      {{diagnostic}}
      <label for="module_name" class="sr-only">Module Name</label>
      <input type="module_name" id="module_name" name="module_name" class="form-control" placeholder="Module Name" required autofocus
           [(ngModel)]="model.module_name">
      <br>
      <label for="module_notes" class="sr-only">Module Notes</label>
      <input type="module_notes" id="module_notes" name="module_notes" class="form-control" placeholder="Module Notes" required
           [(ngModel)]="model.module_notes">
      <br>
      <button class="btn btn-lg btn-success btn-block" type="submit" id="btn-submit" (click)="saveModule(); addModuleForm.reset();">Add module</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2018-2019</p>
    </form>
  </div>

  </div>

  <!-- Add task form-->
  <div class="form card add-task-form" *ngIf="taskFormVisible; selectedModule">
    <form class="form-inline" #addTaskForm="ngForm">

      <fieldset disabled>
      <label class="sr-only" for="module_id"></label>
      <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text">Module Id</div>
        </div>
        <input type="module_id" class="form-control" id="module_id" name="module_id" placeholder="" [(ngModel)]="taskModel.module_id">
      </div>
      </fieldset>

      <label class="sr-only" for="task_description"></label>
      <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text">Task Description</div>
        </div>
        <input type="task_description" class="form-control" id="task_description" name="task_description" placeholder="" [(ngModel)]="taskModel.task_description">
      </div>

      <label for="task_status"></label>
      <div class="form-select input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text">Task Status</div>
        </div>
        <select class="form-control" id="task_status" type="task_status" name="task_status" [(ngModel)]="taskModel.task_status">
          <option>Not Started</option>
          <option>Working on it</option>
          <option>Finished</option>
        </select>
      </div>

      <button class="btn mx-auto" (click)="closeTaskForm();">Close</button>
      <button type="submit" class="btn btn-success mx-auto mb-2" (click)="saveTask(); addTaskForm.reset();">Add Task</button>
    </form>
  </div>

  <!-- Edit Task Form -->
  <div class="form card add-task-form" *ngIf="editTaskFormVisible;">
    <form class="form-inline" #editTaskForm="ngForm">

      <fieldset disabled>
      <label class="sr-only" for="edit_task_id"></label>
      <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text">Task I.D</div>
        </div>
        <input type="edit_task_id" class="form-control" id="edit_task_id" name="edit_task_id" placeholder="" [(ngModel)]="editTaskModel.task_id">
      </div>
      </fieldset>

      <label class="sr-only" for="edit_task_description"></label>
      <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text">Task Description</div>
        </div>
        <input type="edit_task_description" class="form-control" id="edit_task_description" name="edit_task_description" placeholder="" [(ngModel)]="editTaskModel.task_description">
      </div>

      <label for="edit_task_status"></label>
      <div class="form-select input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text">Task Status</div>
        </div>
        <select class="form-control" id="edit_task_status" type="edit_task_status" name="edit_task_status" [(ngModel)]="editTaskModel.task_status">
          <option>Not Started</option>
          <option>Working on it</option>
          <option>Finished</option>
        </select>
      </div>

      <button class="btn mx-auto" (click)="closeEditTaskForm();">Close</button>
      <button type="submit" class="btn btn-success mx-auto mb-2" (click)="editTask(); editTaskForm.reset();">Finish edit</button>
    </form>
  </div>

  <!-- Add CW form-->
  <div class="form card add-task-form" *ngIf="addCWFormVisible;">
    <form class="form-inline" #addCWForm="ngForm">

      <fieldset disabled>
        <label class="sr-only" for="cw_module_id"></label>
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text">Mod I.d</div>
          </div>
          <input type="cw_module_id" class="form-control" id="cw_module_id" name="cw_module_id" placeholder="" [(ngModel)]="addCWModel.module_id">
        </div>
      </fieldset>

      <label class="sr-only" for="cw_description"></label>
      <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text">CW description</div>
        </div>
        <input type="cw_description" class="form-control" id="cw_description" name="cw_description" placeholder="" [(ngModel)]="addCWModel.cw_description">
      </div>

      <label class="sr-only" for="cw_due"></label>
      <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text">Due</div>
        </div>
        <input type="cw_due" class="form-control" id="cw_due" name="cw_due" placeholder="" [(ngModel)]="addCWModel.cw_date">
      </div>

      <button class="btn mx-auto" (click)="closeAddCWForm();">Close</button>
      <button type="submit" class="btn btn-success mx-auto mb-2" (click)="saveCWToDB(); addCWForm.reset();">Add CW</button>
    </form>
  </div>

</div>
<p>Add task diagnostic</p>
{{addTaskDiagnostic}}
<p>Edit task Diagnostic</p>
{{editTaskDiagnostic}}
<p>Add CW diagnostic</p>
{{addCWDiagnostic}}

<div class="right-pane">

  <div class="row card-group">
    <div class="col-4 cards"  *ngFor="let module of modules" (click)="onSelect(module)">
      <div class="card text-center">

        <div class="card-header">
          {{module.module_name}}
          <br>
          <small>id: {{module.module_id}}</small>
        </div>

        <div class="card-block">
          <h6 class="card-title">Module Notes</h6>
          <p class="card-text">{{module.module_notes}}</p>
          <h6 class="card-title">Module Tasks</h6>
          <!-- Task Styling-->
          <li *ngFor="let task of module.tasks">
            <div class="card task-list-card" (click)="onSelectEditTask(task, module)">
              <div class="card-block">
                <p>Task: {{task.task_description}}</p>
                <p>Status: {{task.task_status}}</p>
                <p>Id: {{task.task_id}}</p>
                <button class="btn btn-success mx-auto" (click)="editTaskFormOpen();">Edit</button>
              </div>

            </div>
          </li>
        </div>

        <div class="card-footer text-muted">
          <small>{{module.student_id}} <button class="btn btn-danger btn-sm add-cw-button" (click)="onSelectAddCW(module);">Add CW</button></small>
        </div>

      </div>
    </div>
  </div>

</div>

</body>

