<body>

  <div class="card container overallChatBox">
    <div class="card-header">
      chatId will go here
      <h5 class="card-title text-center">Chat title will go here</h5>
    </div>
    <div class="card-body chat-body">
      <p class="card-text">Studently Group Chat</p>
      <ul class="list-group list-group-flush">

        <li class="list-group-item">
          <div class="card">
          <div class="card-body">
            This is some text within a card body. 1

            <blockquote class="blockquote mb-0">
              <br>
              <footer class="blockquote-footer">Time sent <cite title="Source Title">User</cite></footer>
            </blockquote>
          </div>
        </div>
        </li>

        <li class="list-group-item">
          <div class="card">
            <div class="card-body">
              This is some text within a card body. 2
            </div>
          </div>
        </li>

        <li class="list-group-item">
          <div class="card">
            <div class="card-body">
              This is some text within a card body. 3
            </div>
          </div>
        </li>

        <li class="list-group-item">
          <div class="card">
            <div class="card-body">
              This is some text within a card body. 4
            </div>
          </div>
        </li>

        <li class="list-group-item">
          <div class="card">
            <div class="card-body">
              This is some text within a card body. 5
            </div>
          </div>
        </li>

      </ul>
    </div>

    <div class="card-body sendArea">
      <div class="input-group">
        <input type="text" class="form-control">
        <span class="input-group-btn">
        <button class="btn btn-success" type="button">send</button>
   </span>
      </div>
    </div>


  </div>

</body>

