
body {
  margin: 0;
  height: 100vh;
  background: #AF7AC5;
  padding: 1em;
}

.chat-body {
  overflow-y: scroll;
  height: 400px;
}

.sendArea {
  margin-top: 1em;
  background: #ebdef0;
  -webkit-border-top-left-radius: 50px;
  -webkit-border-top-right-radius: 50px;
  -moz-border-radius-topleft: 50px;
  -moz-border-radius-topright: 50px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  display: inline-block;
}

.blockquote-footer {
  color: #220862;
}

cite {
  color: gold;
}

input {
  width: 30em;
  margin-right: 1em;
}

.overallChatBox {
  width: 40em;
}

.studenlty-group {
  color: #220862;
}

.msg-card {
  margin-bottom: 0.7em;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
