<body>

  <div class="card container overallChatBox">
    <div class="card-header">
      <small>Group id: {{chatModel.chat_id}}</small>
      <h6 class="card-title text-center">{{chatModel.chat_name}}</h6>
    </div>
    <div class="card-body chat-body">
      <p class="card-text studenlty-group">Studently Group</p>
      <ul class="list-group list-group-flush" *ngFor="let message of chatModel.messages">

        <li class="list-group-item">
          <div class="card">
          <div class="card-body">
            This is some text within a card body. 1

            <blockquote class="blockquote mb-0">
              <br>
              <footer class="blockquote-footer">Time sent <cite title="Source Title">User</cite></footer>
            </blockquote>
          </div>
        </div>
        </li>

      </ul>
      <div class="alert alert-warning" role="alert" *ngIf="messagesPresent()">
        oops... No messages have been sent yet, why not be the first person.
      </div>
    </div>

    <div class="card-body sendArea">
      <div class="input-group">
        <input type="text" class="form-control">
        <span class="input-group-btn">
        <button class="btn btn-success" type="button">send</button>
   </span>
      </div>
    </div>

  </div>

</body>

