<body>
  <section class="dashboard">

   <div class="container">

     <div class="naming-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center mr-3">
       <div class="row">

         <div class="card mb-4 shadow-lg col-sm-5 name-card">
           <h2 class="display-4 py-2">Hi There <br> {{student.first_name}} {{student.last_name}}</h2>
         </div>

         <div class="card mb-4 shadow-lg col-sm-4 ml-5 id-card">
           <h2 class="display-4 py-2">Your Id {{student.student_id}}</h2>
         </div>
       </div>


     </div>


       <div class="card-deck mb-3 text-center">
         <div class="card mb-4 shadow-lg">
           <div class="card-header">
             <h4 class="my-0 font-weight-normal">Module HUB</h4>
           </div>
           <div class="card-body">
             <h1 class="card-title module-card-title">Keep up to date with module work</h1>
             <ul class="list-unstyled mt-3 mb-4">
               <li>Create a module</li>
               <li>Track tasks within the module</li>
               <li>Track Coursework</li>
             </ul>
             <button type="button" class="btn btn-lg btn-block btn-success">View my modules</button>
           </div>
         </div>
         <div class="card mb-4 shadow-lg">
           <div class="card-header">
             <h4 class="my-0 font-weight-normal">Interact</h4>
           </div>
           <div class="card-body">
             <h1 class="card-title chat-card-title">Revision groups for you and your friends</h1>
             <ul class="list-unstyled mt-3 mb-4">
               <li>Create revision group chats</li>
               <li>Interact with members</li>
               <li>Get added to other groups too</li>
             </ul>
             <button type="button" class="btn btn-lg btn-block btn-success">View my Chats</button>
           </div>
         </div>
         <div class="card mb-4 shadow-lg">
           <div class="card-header">
             <h4 class="my-0 font-weight-normal">DocSpace</h4>
           </div>
           <div class="card-body">
             <h1 class="card-title documents-card-title">Document uploads</h1>
             <ul class="list-unstyled mt-3 mb-4">
               <li>Upload documents</li>
               <li>View previously uploaded documents</li>
             </ul>
             <br>
             <br>
             <br>
             <button type="button" class="btn btn-lg btn-block btn-success">View my documents</button>
           </div>
         </div>
       </div>

     <!-- add logout button -->
   </div>

  </section>
</body>
